<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h2>Product Details</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Producer</th>
    <th colspan="2">Action</th>
  </tr>
  <tr th:each="product :${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.producer}"></td>
    <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
    <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
  </tr>
</table>
</body>
</html>
